{% extends "layout.html.twig" %}

{% block content %}
<div class="page-header">
    <h1>Ubicación inexistente.</h1>
</div>
<p><a href="/{{ Config('subDir') }}" style="font-size:20px;">Volver al inicio.</a></p>
{% endblock %}
