{% extends "layout.html.twig" %}

{% block content %}
<div class="page-header">
    <h1>Pagina inexistente.</h1>
</div>
<p><a href="/{{ app.subDir }}" style="font-size:20px;">Volver al Index</a></p>
{% endblock %}
